<link rel='stylesheet' href='/stylesheets/view/forgetPassword.css' />
<div class="main">
  <header>
    <i class="iconfont icon-left-arrow"></i>
    <p class="lan-cn">密码找回</p>
    <p class="lan-en">Reset Password</p>
    <p class="hidden">New user registration</p>
  </header>
  <article class="groupreg">
    <form class="form-valid">
      <label class="lan-cn">
        <span>手机号</span>
        <input type="tel" maxlength="11" id="form-field-cellphone"/>
      </label>
      <label class="lan-en">
        <span>Email</span>
        <input type="email" id="form-field-email">
      </label>
      <label>
        <span class="lan-cn">验证码</span>
        <span class="lan-en">Code</span>
        <input type="number" maxlength="6" id="form-field-validCode" />
        <div class="verfcode">
          <button type="button" class="btn-validCode">
            <span class="lan lan-cn">获取验证码</span>
            <span class="lan lan-en">Valid Code</span>
          </button>
          <p class="hidden"><i id="seconds">60</i></p>
        </div>
      </label>
      <input type="button" class="lan-cn btn-Next" value="下一步" />
      <input type="button" class="lan-en btn-Next" value="Next" />
    </form>

    <form class="form-reset hidden">
      <label>
        <input type="password" maxlength="12" id="form-field-newPassword" placeholder="新密码"/>
      </label>
      <label>
        <input type="password" maxlength="12" id="form-field-confirmPassword" placeholder="确认密码"/>
      </label>
      <input type="button" class="lan-cn btn-Reset" value="重置密码" />
      <input type="button" class="lan-en btn-Reset" value="Reset Password" />
    </form>

    <form class="form-complete hidden">
      <div class="complete">
        <i class="fa fa-check"></i>
        <h3 class="lan-cn">密码修改成功</h3>
        <h3 class="lan-en">Your password reset success</h3>
        <a href="/login">
          <span class="lan-cn">去登录</span>
          <span class="lan-en">Login</span>
        </a>
      </div>

    </form>
  </article>
</div>
<script type="text/javascript" src="/javascripts/view/forgetPassword.js"></script>