<link rel='stylesheet' href='/stylesheets/view/basic.css' />
<link rel='stylesheet' href='/stylesheets/view/order.css' />
<link rel='stylesheet' href='/stylesheets/iconfont.css' />

<div class="main">
  <header>
    <a href="javascript:;" class="goodslist_arrow" id="btn-back"><i class="iconfont icon-left-arrow"></i></a>
    <nav class="goods clearfix">
      <ul>
        <li>收货地址</li>
      </ul>
    </nav>
    <a class="rig_shai" href="javascript:;" id="btn-add">添加</a>
  </header>

  <section class="container">
  </section>
</div>

<script type="text/javascript" src="/javascripts/view/shippingAddress.js"></script>
