.main {
	max-width: 7.5rem;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	font-size: 0.28rem;
}

.loginbg {
	background: url(../../images/account/bg.jpg) no-repeat;
	background-size: cover;
	position: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;
}

.login {
	padding: 0.5rem 0.44rem;
}

.languanes {
	text-align: right;
}

.languanes select {
	background: transparent;
	width: 1.42rem;
	padding: 5px;
	font-size: 16px;
	border: transparent;
	height: 34px;
	background: url(../../images/account/arrow_b.png) no-repeat right center;
	background-size: 0.22rem 0.11rem;
	-webkit-appearance: none;
	/*for chrome*/
	color: #fff;
}

.logo {
	width: 3.32rem;
	height: 2.47rem;
	margin: 0.55rem auto;
}

.logo img {
	width: 3.32rem;
	height: 2.47rem;
}

.grupform input[type='text'],
.grupform input[type='password'],
.grupform input[type='button'],
.groupreg input[type='button'] {
	width: 100%;
	height: 0.97rem;
	border-radius: 0.5rem;
	padding-left: 0.4rem;
	background: rgba(188, 31, 56, 0.57);
	color: #fff;
	margin-bottom: 0.41rem;
}

.btn-login{
  width: 100%;
  height: 0.97rem;
  border-radius: 0.5rem;
  background: #fed964;
  letter-spacing: 3px;
  color: #3d2e00;
  font-size: 0.36rem;
  border: none;
  margin-bottom: 15px;
}
.grupform input::input-placeholder {
	color: #fff;
}

.grupform input::-webkit-input-placeholder {
	color: #fff;
}

.grupform input::-moz-input-placeholder {
	color: #fff;
}

.grupform input:-ms-input-placeholder {
	color: #fff;
}

.grupform input[type='button'] {
	background: #fed964;
	letter-spacing: 3px;
	color: #3d2e00;
	font-size: 0.36rem;
}

.grupform p a {
	color: #fff;
}

footer {
	color: #f37c8f;
	position: fixed;
	left: 15%;
	bottom: 0.3rem;
	font-size: 0.20rem;
	letter-spacing: 1px;
	font-family: "arial, helvetica, sans-serif";
}




















