.main {
	max-width: 7.5rem;
	margin: 0 auto;
	position: relative;
	z-index: 1;
	font-size: 0.28rem;
}

.loginbg {
	background: url(../../images/account/bg.jpg) no-repeat;
	background-size: cover;
	position: fixed;
	z-index: -1;
	height: 100%;
	width: 100%;
}

.login {
	padding: 0.5rem 0.44rem;
}

.languanes {
	text-align: right;
}

.languanes select {
	background: transparent;
	width: 1.42rem;
	padding: 5px;
	font-size: 16px;
	border: transparent;
	height: 34px;
	background: url(../../images/account/arrow_b.png) no-repeat right center;
	background-size: 0.22rem 0.11rem;
	-webkit-appearance: none;
	/*for chrome*/
	color: #fff;
}

.logo {
	width: 3.32rem;
	height: 2.47rem;
	margin: 0.55rem auto;
}

.logo img {
	width: 3.32rem;
	height: 2.47rem;
}

.grupform input[type='text'],
.grupform input[type='password'],
.grupform input[type='button'],
.groupreg input[type='button'] {
	width: 100%;
	height: 0.97rem;
	border-radius: 0.5rem;
	padding-left: 0.4rem;
	background: rgba(188, 31, 56, 0.57);
	color: #fff;
	margin-bottom: 0.41rem;
}

.btn-login{
  width: 100%;
  height: 0.97rem;
  border-radius: 0.5rem;
  background: #fed964;
  letter-spacing: 3px;
  color: #3d2e00;
  font-size: 0.36rem;
  border: none;
  margin-bottom: 15px;
}
.grupform input::input-placeholder {
	color: #fff;
}

.grupform input::-webkit-input-placeholder {
	color: #fff;
}

.grupform input::-moz-input-placeholder {
	color: #fff;
}

.grupform input:-ms-input-placeholder {
	color: #fff;
}

.grupform input[type='button'] {
	background: #fed964;
	letter-spacing: 3px;
	color: #3d2e00;
	font-size: 0.36rem;
}

.grupform p a {
	color: #fff;
}

footer {
	color: #f37c8f;
	position: fixed;
	left: 15%;
	bottom: 0.3rem;
	font-size: 0.20rem;
	letter-spacing: 1px;
	font-family: "arial, helvetica, sans-serif";
}


/*用户注册页面*/

header {
	background: #eb3a57;
	color: #fff;
	position: relative;
	height: 0.88rem;
	line-height: 0.88rem;
}

header p {
	text-align: center;
	color: #fff;
}

header i {
	position: absolute;
	left: 5%;
	top: 3%;
	font-size: 0.28rem;
}

.groupreg {
	margin: 0.15rem 0;
}

.groupreg label {
	background: #fff;
	border-bottom: 1px #dedede solid;
	position: relative;
	color: #898889;
	line-height: 1.14rem;
	padding-left: 0.27rem;
	display: block;
	height: 1.14rem;
}

.groupreg label:nth-child(3) {
	border-bottom: none;
}

.groupreg label span {
	display: inline-block;
	width: 1.38rem;
	text-align: left;
	color: #898889;
}

.groupreg .verfcode {
	position: absolute;
	right: 3%;
	top: 0;
}

.groupreg .verfcode a,
.groupreg .verfcode p {
	display: inline-block;
	width: 2.32rem;
	height: 0.80rem;
	line-height: 0.80rem;
	border-radius: 0.1rem;
	text-align: center;
	color: #fff;
	background: #e93854;
}

.groupreg .verfcode p {
	background: #ccc;
}

.groupreg input[type='button'] {
	background: #e93854;
	width: 90%;
	margin: 0.5rem auto 0;
	display: block;
}

.groupreg h6 {
	text-align: center;
	margin-top: 0.2rem;
}






















